# Ignore swap files
*.swp

# Ignore temporary files
*.tmp

# Ignore log files
*.log

# Ignore build artifacts
*.o

# Ignore compiled binaries
*.exe
*.app
*.dylib
*.dll

# Ignore IDE specific files
*.idea/
*.vscode/
